{% extends "ss-user-import-export/index" %}
{% import "_includes/forms" as forms %}

{% set title = 'SS User Import/Export' %}
{% set selectedTab = 'import' %}
{% set content %}
{% if currentUser %}
	{% set settings = craft.ssUserImportExport.getImportData() %}

    {% if( settings is not empty and settings.response_data is not empty and settings.response_header is not empty ) %}        
        <a class="btn submit" href="{{ url('ss-user-import-export/import/element-map') }}">Element mapping..</a>
    {% endif %}
    <hr>
  	<form method="post" action="" accept-charset="UTF-8" enctype="multipart/form-data">
  	    {{ csrfInput() }}
        <input type="hidden" name="action" value="ss-user-import-export/import/import-user">
        <input type="hidden" name="pluginClass" value="ss-user-import-export">
        <input type="hidden" name="redirect" value="ss-user-import-export">
        <h3>Please upload/ Import CSV file here.</h3>
        <input type="file" name="file" multiple></p>      	
  		<input type="submit" class="btn submit" value="Upload File">
    </form>
{% endif %}
{% endset %}